@font-face {
    font-family: 'Raleway';
    src: url('../fonts/raleway/raleway-extrabold-webfont.eot');
    src: url('../fonts/raleway/raleway-extrabold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway/raleway-extrabold-webfont.woff2') format('woff2'),
         url('../fonts/raleway/raleway-extrabold-webfont.woff') format('woff'),
         url('../fonts/raleway/raleway-extrabold-webfont.ttf') format('truetype'),
         url('../fonts/raleway/raleway-extrabold-webfont.svg#ralewayextrabold') format('svg');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/raleway/raleway-extralight-webfont.eot');
    src: url('../fonts/raleway/raleway-extralight-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway/raleway-extralight-webfont.woff2') format('woff2'),
         url('../fonts/raleway/raleway-extralight-webfont.woff') format('woff'),
         url('../fonts/raleway/raleway-extralight-webfont.ttf') format('truetype'),
         url('../fonts/raleway/raleway-extralight-webfont.svg#ralewayextralight') format('svg');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/raleway/raleway-medium-webfont.eot');
    src: url('../fonts/raleway/raleway-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway/raleway-medium-webfont.woff2') format('woff2'),
         url('../fonts/raleway/raleway-medium-webfont.woff') format('woff'),
         url('../fonts/raleway/raleway-medium-webfont.ttf') format('truetype'),
         url('../fonts/raleway/raleway-medium-webfont.svg#ralewaymedium') format('svg');
    font-weight: 500;
    font-style: normal;
}